@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  user-select: none;
  -webkit-user-drag: none;
}

body {
	font-family: var(--font-be-vietnam-pro), sans-serif;
}

@layer utilities {
	.font-vietnam {
		font-family: var(--font-be-vietnam-pro);
	}
	
	.text-balance {
		text-wrap: balance;
	}

	.shad-input-label {
		@apply text-14-medium text-zinc-700 !important;
	}

	.shad-input {
		@apply bg-inputBg rounded-l-full rounded-br-full rounded-none border-0 shadow-md placeholder:text-zinc-400 border-zinc-500 h-11 focus-visible:ring-0 focus-visible:ring-offset-0 !important;
	}

	.shad-input-icon {
		@apply bg-inputBg rounded-2xl shadow-md placeholder:text-zinc-400 border-zinc-500 h-11 focus-visible:ring-0 focus-visible:ring-offset-0 !important;
	}

	.shad-textArea {
		@apply bg-inputBg rounded-l-3xl rounded-br-3xl rounded-none shadow-md placeholder:text-zinc-400 min-h-24 max-h-64 focus-visible:ring-0 focus-visible:ring-offset-0 !important;
	}

	.titlePage {
		@apply text-textDark mb-6 md:mb-16 px-5 md:text-[40px] lg:text-[45px] xl:text-[54px] md:leading-[50px] lg:leading-[55px] xl:leading-[65px] md:font-medium
	}

	.textPageContainer {
		@apply md:flex md:items-center md:px-6 xl:px-28 2xl:px-36
	}
}

@layer base {
	/* Style scrollbar*/
	::-webkit-scrollbar {
		width: 2px;
		height: 2px;
	}
	::-webkit-scrollbar-track {
		background: #333;
	}

	::-webkit-scrollbar-thumb {
		background: #555;
	}

	::-webkit-scrollbar-thumb:hover {
		background: #222;
	}

	/* Style scrollbar for Firefox */
	/* * {
		scrollbar-width: thin; 
		scrollbar-color: #555 #333;
	} */

	/* Hidden scrollbar */
	.hide-scrollbar {
		/* Hidden scrollbar for other browsers */
		scrollbar-width: none !important; /* Firefox */
		-ms-overflow-style: none !important; /* IE 10+ */
	}

	.hide-scrollbar::-webkit-scrollbar {
		width: 0px !important;
		height: 0px !important;
		border-radius: 0px !important;
	}

	.hide-scrollbar::-webkit-scrollbar-track {
		background: transparent !important;
	}

	.hide-scrollbar::-webkit-scrollbar-thumb {
		background: transparent !important;
		border-radius: 0px !important;
	}

	.hide-scrollbar::-webkit-scrollbar-thumb:hover {
		/* background: #1e2238; */
		background: transparent !important;
	}

	/* Show scrollbar */
	.show-scrollbar {
		/* return visible of scrollbar */
		overflow: auto;
		scrollbar-width: thin; /* Firefox */
	}

	.show-scrollbar::-webkit-scrollbar {
		width: 8px; /* Width for Chrome, Safari */
	}

	.show-scrollbar::-webkit-scrollbar-thumb {
		background-color: #bdbdbd; /* Scrollbars color */
		border-radius: 4px;
	}

	:root {
		--radius: 0.5rem;
	}

	.homepage-background {
		background-image: url('/assets/images/home-bg.jpg');
		background-size: cover;
		background-position: calc(50% - 150px) center; /* default */
	}
	
	/* md (768px) */
	@media (min-width: 768px) {
		.homepage-background {
			background-position: center; /* tablets */
		}
	}
	
	/* lg (1024px) */
	@media (min-width: 1024px) {
		.homepage-background {
			background-position: calc(50% - 160px) center;
		}
	}

		/* lg (1536px) */
		@media (min-width: 1536px) {
			.homepage-background {
				background-position: calc(50% - 110px) center;
			}
		}

		.realizationpage-background {
			background-image: url('/assets/images/realization-bg.jpg');
			background-size: cover;
			background-position: center; /* default */
		}

	.text-shadow-lg {
		text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
	}
}





