@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

@layer base {
	/* Hidden scrollbar */
	.remove-scrollbar {
		/* Hidden scrollbar for other browsers */
		scrollbar-width: none !important; /* Firefox */
		-ms-overflow-style: none !important; /* IE 10+ */
	}

	.remove-scrollbar::-webkit-scrollbar {
		width: 0px !important;
		height: 0px !important;
		border-radius: 0px !important;
	}

	.remove-scrollbar::-webkit-scrollbar-track {
		background: transparent !important;
	}

	.remove-scrollbar::-webkit-scrollbar-thumb {
		background: transparent !important;
		border-radius: 0px !important;
	}

	.remove-scrollbar::-webkit-scrollbar-thumb:hover {
		/* background: #1e2238; */
		background: transparent !important;
	}

	/* Show scrollbar */
	.show-scrollbar {
		/* Przywraca pasek przewijania */
		overflow: auto;
		scrollbar-width: thin; /* Firefox */
	}

	.show-scrollbar::-webkit-scrollbar {
		width: 8px; /* Szerokość dla Chrome, Safari */
	}

	.show-scrollbar::-webkit-scrollbar-thumb {
		background-color: #bdbdbd; /* Kolor paska przewijania */
		border-radius: 4px;
	}

	:root {
		--radius: 0.5rem;
	}
}
